* {
	cursor: url("../images/cursor.png"), auto;
}

body {
	font-family: "Times New Roman", Times, serif;
}

.tooltip .tooltip-inner {
	font-size: 20px;
	white-space: pre-wrap;
}

#mainContent {
	margin-left: 250px;
	text-align: center;
}

/* Side navigation menu */
#menuSideNav {
	height: 100%;
	width: 250px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #222233;
	padding-top: 50px;
}

/* Navigation Links */
#menuSideNav button {
	padding: 8px 8px 8px 8px;
	height: 120px;
	width: inherit;
	text-decoration: none;
	font-size: 25px;
	align-self: center;
	border: none;
	color: #aaccff;
	background-color: inherit;
	display: block;
	transition: 0.3s;
}

/* Hover behavior */
#menuSideNav button:hover {
	background-color: #ee8520;
}
