.screenTitle {
	position: relative;
	min-width: 400px;
	font-weight: 100;
	text-align: center;
	white-space: nowrap;
}

.welcomeDesc {
	position: relative;
	min-width: 400px;
	font-weight: 100;
	text-align: center;
	white-space: nowrap;
}

#mainContent h4 {
	text-align: left;
	margin-left: 160px;
	margin-right: 160px;
}
