h1 {
	position: relative;
	min-width: 600px;
	font-weight: 100;
	text-align: center;
	white-space: nowrap;
}

.line-controls-coords {

	position: relative;
	float: left;
	bottom: 0px;
	padding: 10px;
	width: 180px;
}

canvas {
	display: inline;
  border-style: inset;
	width: 80%;
	max-height: 350px;
}

#outer-gallery {

	height: 200px;
	width: 160px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: 10px;
	border-style: solid;
	border-radius: 2px;
	border-width: 2px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#inner-gallery {
	height: auto;
	width: auto;
	position: relative;
	background-color: #849eb8;
}

.def_img {
	height: 120px;
	width: 120px;
	position: relative;
	display: inline-block;
	float: top;
}
