.btn {
	border-radius: 0px;
}

span {
	font-weight: bold;
}

h1 {
	position: relative;
	min-width: 600px;
	font-weight: 100;
	text-align: center;
	white-space: nowrap;
}

canvas {
	display: inline;
  border-style: inset;
}

.nav_buttons {
	display: inline-block;
}

.nav_buttons button {
	margin: 10px;
	width: 120px;
}

#loadSaveCreate {
	position: fixed;
	text-align: center;
	top: 0px;
	right: 0px;
	margin-top: 74px;
	margin-left: 10px;
	margin-right: 10px;
}

#createSettings {
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: #0073e6;
}

.createSettingGroup {
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	width: 160px;
}

#createSettings button {
	width: 138px;
	margin: 6px;
}

#createSettings #labelInput {
	width: 138px;
	margin: 6px;
	margin-left: 11px;
}

#loadSaveGroup {
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: #0073e6;
}

#loadSaveGroup button {
	width: 138px;
	margin: 6px;
}

#loadInput {
	width: 138px;
	margin: 6px;
	margin-left: 11px;
}

#modifyContent {
	display: none;
	float: left;
	border-style: solid;
	border-width: 2px;
	border-color: #0073e6;
	padding: 20px;
}

.modifyElt {
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.modifyElt .buttonLabel {
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0px;
}

.modifyElt .btn {
	float: right;
	margin: 5px;
}

#directionArrows button {
	width: 50px;
	height: 50px;
	margin: 4px;
}

#rotate_shape_clockwise {
	float: left;
}

#rotate_shape_counterclockwise {
	float: right;
}

.modSelect button {
	width: 225px;
	margin-bottom: 10px;
}

.canvasDiv {
	float: left;
	margin: 15px;
}

#img_selector {
	text-align: center;
	margin: 20px;
}

#img_buttons {
	display: inline-block;
	vertical-align: middle;
}

#img_buttons button {
	width: 150px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#img_buttons #prevImg {

	margin-left: 14px;
}

#outer-gallery {
	display: inline-block;
	height: 150px;
	width: 150px;
	border-style: solid;
	border-color: #0073e6;
	border-radius: 2px;
	border-width: 2px;
}

.def_img {
	height: 150px;
	width: 150px;
}
