h1 {
	position: relative;
	min-width: 400px;
	font-weight: 100;
	text-align: center;
	white-space: nowrap;
}

#fbdCanvas {
	position: relative;
	min-width: 508px;
	margin: 10px;
  border-style: inset;
	text-align: center;
}
