

.settingItem {
  padding: 20px;
  margin: 10px;
}

.settingLabel {
  font-size: 20px;
  float: left;
  margin-left: 160px;
}

.settingButt {
  border-style: none;
  float: right;
  width: 90px;
  height: 40px;
  margin-right: 160px;
}

.settingButt span {

  font-size: 20px;
}
