<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Myo Guided Free Body Diagram Creator</title>

    <link rel="stylesheet" href="./css/index.css">

  </head>
  <body>

    <a href="./index.html"><h3>Test</h3></a>

    <h1>This is the about page</h1>

    <p> About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About About
    </p>
  </body>

  <script>
    // You can also require other files to run in this process
    require('../scripts/renderer.js')
  </script>
</html>
